server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:orderdb;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: validate
  h2:
    console:
      enabled: true
      path: /h2-console

liquibase:
  change-log: classpath:db/changelog/db.changelog-master.xml

inventory:
  base-url: http://localhost:8081
